@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 100;
  src: url("../assets/fonts/woff/IRANSansX-thin.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-thin.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/woff/IRANSansX-UltraLight.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/woff/IRANSansX-light.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-light.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/woff/IRANSansX-medium.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-medium.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/woff/IRANSansX-demibold.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-demibold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 800;
  src: url("../assets/fonts/woff/IRANSansX-extrabold.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-extrabold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/woff/IRANSansX-black.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-black.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/woff/IRANSansX-bold.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/woff/IRANSansX-regular.woff") format("woff"),
    url("../assets/fonts/woff2/IRANSansX-regular.woff2") format("woff2");
}

body {
  font-family: IRANSansX !important;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.activeLink {
  color: #1b4b88;
  border-bottom: 2px solid #1b4b88;
}

.activeLink:hover {
  color: #265da2;
}
